* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-image: url(https://media.istockphoto.com/id/171309616/photo/green-grass-background.jpg?s=1024x1024&w=is&k=20&c=1WIvYMYie4piqV-YYUxOsw6uNJ-F56g6zTD_8Xcpajo=);
    height: 100vh;
    background-size: cover;
}

#my-image {
    border-radius: 50%;
    height: 130px;
    width: 150px;
}